@import "../abstracts/vars.scss";

.arrowBack {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: $gutter;
  cursor: pointer;
  display: flex;
  gap: calc($gutter / 2);

  svg {
    font-size: 32px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  .loader {
    font-size: calc($gutter * 3);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 1s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .element {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.9;
        transform: scale(1.01) translateY(-5px);
      }
    }

    .collectionName {
      font-size: 20px;
      font-weight: bold;
      justify-self: left;
      width: 100%;
    }
  }
}
