@import "../abstracts/vars.scss";

.container {
  display: flex;
  align-items: center;
  padding: calc($gutter * 1.5) calc($gutter * 3);
  gap: $gutter;
  width: 100%;

  .nav {
    display: flex;
    align-items: center;
    gap: $gutter;
    flex: 2;

    .link {
      color: $white;
    }
  }
}
