@import "../abstracts/vars.scss";

#dashboard {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    padding: 0 $gutter;
    display: flex;

    .content {
        flex: 2;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}